name: Reusable Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        # 无需指定 version 字段，pnpm 版本会自动读取 package.json 的 packageManager 字段

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy
        run: echo "Deploying to ${{ inputs.environment }}"
